<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <form name="subscriptionPlanForm" ng-submit="vm.subscriptionPlan()" novalidate="novalidate">
      <h5 class="text-center">Plan Information</h5>
      <div class="form-group text-center">
        <select ng-model="vm.user.subscriptionPlan" select-or-die>
          <option value="89"> 1 Month Recurring - $89</option>
          <option value="249">3 Months Recurring - $249 (7% OFF)</option>
          <option value="469">6 Months Recurring - $469 ( 12% OFF)</option>
          <option value="749">12 Months Recurring - $749 (30% OFF)</option>
        </select>
        <div class="text-danger" ng-show="!vm.user.subscriptionPlan && vm.user.card.submitted">
          Please select a Subscription Plan
        </div>
      </div>

      <div class="form-group">
        <h5 class="mt-0 m-b-10">CREDIT CARD INFORMATION</h5>
        <input type="text" ng-model="vm.user.creditCardNum" placeholder="Credit card number" size="20" data-stripe="number" pattern="[0-9]{13,16}" class="form-control">
        <div class="text-danger" ng-show="!vm.user.card.error.number && vm.user.card.submitted">
          Card Number is Invalid
        </div>
      </div>

      <div class="form-group">
        <h5 class="text-center">EXPIRATION DATE</h5>
        <input type="text" ng-model="vm.user.creditCardExpMonth" size="2" data-stripe="exp-month" placeholder="MM" class="form-control">
        </br>
        <input type="text" ng-model="vm.user.creditCardExpYear" size="4" data-stripe="exp-year" placeholder="YYYY" class="form-control">
        <div class="text-danger" ng-show="!vm.user.card.error.exp && vm.user.card.submitted">
          Expiration Date is Invalid
        </div>
      </div>

      <div class="form-group">
        <input type="text" ng-model="vm.user.creditCardCV2" size="4" data-stripe="cvc" placeholder="CVV/CVC2 Number" class="input-md round form-control required">
        <div class="text-danger" ng-show="!vm.user.card.error.cv2 && vm.user.card.submitted">
          CV2 is Invalid
        </div>
      </div>
      <input type='submit' class='btn btn-primary btn-lg btn-block' value='Subscribe'>
    </form>
  </div>
</div>
